BasicSealBackend/bin
BasicSealBackend/migrations
BasicSealBackend/obj
BasicSealBackend/.vs
BasicSealBackend/Properties

BasicSealBlazor/bin
BasicSealBlazor/obj
BasicSealBlazor/.vs
BasicSealBlazor/Properties
BasicSealBlazor/dataProtectionkeys

BasicSealClient_ExampleUse/mp3converter_EXAMPLE/bin
BasicSealClient_ExampleUse/mp3converter_EXAMPLE/obj
BasicSealClient_ExampleUse/mp3converter_EXAMPLE/.vs
BasicSealClient_ExampleUse/mp3converter_EXAMPLE/Properties

BasicSealClient/bin
BasicSealClient/obj
BasicSealClient/.vs
BasicSealClient/Properties

HashChecker/bin
HashChecker/obj
HashChecker/.vs
HashChecker/Properties